<div class="faq">
  <h3 class="t">Частые вопросы</h3>
  <div class="flexing">
    <div class="slide"><input class="agree" type="checkbox">
      <h4>Какова политика относительно чистоты автомобиля?</h4>
      <p>Лимит суточного пробега - это километраж, который Вы можете проехать на арендованном авто за одни
        сутки. Он составляет 200 километров.. А если суммарный пробег превысит 200 километров, то превышение
        лимита вам будет необходимо оплатить по цене 1руб/1км.</p>
    </div>
    <div class="slide"><input class="agree" type="checkbox">
      <h4>Что такое лимит пробега? </h4>
      <p>Лимит суточного пробега - это километраж, который Вы можете проехать на арендованном авто за одни
        сутки. Он составляет 200 километров.. А если суммарный пробег превысит 200 километров, то превышение
        лимита вам будет необходимо оплатить по цене 1руб/1км.</p>
    </div>
    <div class="slide"><input class="agree" type="checkbox">
      <h4>Какова политика относительно бензина?</h4>
      <p>Лимит суточного пробега - это километраж, который Вы можете проехать на арендованном авто за одни
        сутки. Он составляет 200 километров.. А если суммарный пробег превысит 200 километров, то превышение
        лимита вам будет необходимо оплатить по цене 1руб/1км.</p>
    </div>
    <div class="slide"><input class="agree" type="checkbox">
      <h4>Смогу ли я получить автомобиль, если я задержусь и прибуду в офис после закрытия?</h4>
      <p>Лимит суточного пробега - это километраж, который Вы можете проехать на арендованном авто за одни
        сутки. Он составляет 200 километров.. А если суммарный пробег превысит 200 километров, то превышение
        лимита вам будет необходимо оплатить по цене 1руб/1км.</p>
    </div>
    <div class="slide"><input class="agree" type="checkbox">
      <h4>Что такое лимит пробега? </h4>
      <p>Лимит суточного пробега - это километраж, который Вы можете проехать на арендованном авто за одни
        сутки. Он составляет 200 километров.. А если суммарный пробег превысит 200 километров, то превышение
        лимита вам будет необходимо оплатить по цене 1руб/1км.</p>
    </div>
    <div class="slide"><input class="agree" type="checkbox">
      <h4>Что включает в себя цена проката?</h4>
      <p>Лимит суточного пробега - это километраж, который Вы можете проехать на арендованном авто за одни
        сутки. Он составляет 200 километров.. А если суммарный пробег превысит 200 километров, то превышение
        лимита вам будет необходимо оплатить по цене 1руб/1км.</p>
    </div>
    <div class="slide"><input class="agree" type="checkbox">
      <h4>Могу ли я выезжать за пределы Белгородской области?</h4>
      <p>Лимит суточного пробега - это километраж, который Вы можете проехать на арендованном авто за одни
        сутки. Он составляет 200 километров.. А если суммарный пробег превысит 200 километров, то превышение
        лимита вам будет необходимо оплатить по цене 1руб/1км.</p>
    </div>
    <div class="slide"><input class="agree" type="checkbox">
      <h4>Что делать если у меня не получается вернуть автомобиль в срок?</h4>
      <p>Лимит суточного пробега - это километраж, который Вы можете проехать на арендованном авто за одни
        сутки. Он составляет 200 километров.. А если суммарный пробег превысит 200 километров, то превышение
        лимита вам будет необходимо оплатить по цене 1руб/1км.</p>
    </div>
  </div>
</div>
