<a title="Title" class="logo" href="#"><img alt="alternate" src="./assets/img/logo.png"></a>
<h1 class="common title"><span class="desktop">Аренда авто</span></h1>
<p class="slogan">Автомобиль который<br> вас не подведет</p>
<p class="address">Свободная улица, 16<br> г. Белгород</p>
<ul class="top phones">
  <li class="phone"><a title="Title" class="call" href="tel:+79066000009">+7 (906) 600-00-09</a></li>
  <li class="phone"><a title="Title" class="call" href="tel:+79290006665">+7 (929) 000-66-65</a></li>
  <li class="work time">Без выходных с <strong>8:00</strong> до <strong>20:00</strong></li>
</ul>
<a title="Title" class="to order make" href="#">Заказать звонок</a>
