<a routerLink="#topPage" title="Title" id="topPage" class="logo"><img alt="alternate" src="./assets/img/logo.png"></a>
<h1 class="common title"><span class="desktop">Оренда авто</span></h1>
<p class="slogan">Автомобіль який<br>вас не підведе</p>
<p class="address">Вільна вулиця, 16<br/> м. Бєлгород</p>
<ul class="top phones">
  <li class="phone"><a title="Title" class="call" href="tel:+79066000009">+7 (906) 600-00-09</a></li>
  <li class="phone"><a title="Title" class="call" href="tel:+79290006665">+7 (929) 000-66-65</a></li>
  <li class="work time">Без вихідних з <strong>8:00</strong> до <strong>20:00</strong></li>
</ul>
<a routerLink="#topPage" title="Title" class="to order make">Замовити дзвінок</a>
