<div class="contact">
  <form class="call-back">
    <h3 class="tf">Залишилися питання?</h3>
    <p class="massage">Задайте їх нам!</p>
    <input class="call-name" type="text" placeholder="Введіть ваше им'я">
    <input class="call-phone mask" type="tel" placeholder="+7 (906) 600-00-09">
    <input class="send-number" type="submit" value="Замовити дзвінок">
    <div class="agreed">
      <input class="agree" type="checkbox">
      <p class="agreement">Натискаючи на кнопку ви погоджуєтеся з політикою конфіденційності.</p>
    </div>
  </form>
  <picture class="map">
    <source srcset="./assets/img/map.webp" type="image/webp">
    <source srcset="./assets/img/map.png" type="image/png">
    <img alt="alternate" loading="lazy" src="./img/map.png">
  </picture>
</div>
