<div class="contact">
  <form class="call-back">
    <h3 class="tf">Остались вопросы?</h3>
    <p class="massage">Задайте их нам!</p>
    <input class="call-name" type="text" placeholder="Введите ваше имя">
    <input class="call-phone mask" type="tel" placeholder="+7 (906) 600-00-09">
    <input class="send-number" type="submit" value="Заказать звонок">
    <div class="agreed">
      <input class="agree" type="checkbox">
      <p class="agreement">Нажимая на кнопку вы соглашаетесь с политикой конфиденциальности.</p>
    </div>
  </form>
  <picture class="map">
    <source srcset="./img/map.webp" type="image/webp">
    <source srcset="./img/map.png" type="image/png">
    <img alt="alternate" loading="lazy" src="./img/map.png">
  </picture>
</div>
