<div class="choice zone">
  <h2 class="choice title">Выберите автомобиль</h2>
  <h3 class="variant">Выберете вариацию <strong>КПП</strong></h3>
  <ul class="what">
    <li #switcAuto (click)="showAuto('show')" class="kind mechanic active li">Механическая</li>
    <li #switchMech (click)="showMech('show')" class="kind automate not-active li">Автоматическая</li>
  </ul>
  <div #mech class="techno mech show {{mech.className}}">
    <div class="car">
      <div class="data">
        <h3 class="info read">Mazda 6</h3>
        <ol class="info">
          <li class="text read">Залог:</li>
          <li class="mean read">10 тыс руб</li>
        </ol>
        <ol class="info">
          <li class="text read">Вариация КПП:</li>
          <li class="mean read">Автоматическая</li>
        </ol>
        <ol class="info">
          <li class="text read">Кузов/привод:</li>
          <li class="mean read">Седан/передний</li>
        </ol>
        <ol class="info">
          <li class="text read">Топливо/расход:</li>
          <li class="mean read">(АИ-95) 8л/100км</li>
        </ol>
        <ol class="info">
          <li class="text read">Доп. опции:</li>
          <li class="mean read">Кондиционер</li>
        </ol>
        <div class="info order">
          <p class="changing"><a title="Title" class="read" href="#">Выбрать автомобиль</a></p>
          <div class="add">
            <p class="read">Стоимость:</p>
            <p class="read price"><strong>1300</strong> руб/день</p>
          </div>
        </div>
      </div>
    </div>
    <div class="car">
      <div class="data">
        <h3 class="info read">Chevrolet Lacetti</h3>
        <ol class="info">
          <li class="text read">Залог:</li>
          <li class="mean read">10 тыс руб</li>
        </ol>
        <ol class="info">
          <li class="text read">Вариация КПП:</li>
          <li class="mean read">Автоматическая</li>
        </ol>
        <ol class="info">
          <li class="text read">Кузов/привод:</li>
          <li class="mean read">Седан/передний</li>
        </ol>
        <ol class="info">
          <li class="text read">Топливо/расход:</li>
          <li class="mean read">(АИ-95) 8л/100км</li>
        </ol>
        <ol class="info">
          <li class="text read">Доп. опции:</li>
          <li class="mean read">Кондиционер</li>
        </ol>
        <div class="info order">
          <p class="changing"><a title="Title" class="read" href="#">Выбрать автомобиль</a></p>
          <div class="add">
            <p class="read">Стоимость:</p>
            <p class="read price"><strong>1200</strong> руб/день</p>
          </div>
        </div>
      </div>
    </div>
    <div class="car">
      <div class="data">
        <h3 class="info read">Chevrolet Aveo</h3>
        <ol class="info">
          <li class="text read">Залог:</li>
          <li class="mean read">10 тыс руб</li>
        </ol>
        <ol class="info">
          <li class="text read">Вариация КПП:</li>
          <li class="mean read">Автоматическая</li>
        </ol>
        <ol class="info">
          <li class="text read">Кузов/привод:</li>
          <li class="mean read">Седан/передний</li>
        </ol>
        <ol class="info">
          <li class="text read">Топливо/расход:</li>
          <li class="mean read">(АИ-95) 8л/100км</li>
        </ol>
        <ol class="info">
          <li class="text read">Доп. опции:</li>
          <li class="mean read">Кондиционер</li>
        </ol>
        <div class="info order">
          <p class="changing"><a title="Title" class="read" href="#">Выбрать автомобиль</a></p>
          <div class="add">
            <p class="read">Стоимость:</p>
            <p class="read price"><strong>1400</strong> руб/день</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #auto class="techno auto hide {{auto.className}}">
    <div class="car">
      <div class="data">
        <h3 class="info read">ВАЗ kalina</h3>
        <ol class="info">
          <li class="text read">Залог:</li>
          <li class="mean read">5 тыс руб</li>
        </ol>
        <ol class="info">
          <li class="text read">Вариация КПП:</li>
          <li class="mean read">Механика</li>
        </ol>
        <ol class="info">
          <li class="text read">Кузов/привод:</li>
          <li class="mean read">Хетчбэк 5 дв/передний</li>
        </ol>
        <ol class="info">
          <li class="text read">Топливо/расход:</li>
          <li class="mean read">(АИ-95) 8л/100км</li>
        </ol>
        <ol class="info">
          <li class="text read">Доп. опции:</li>
          <li class="mean read">-</li>
        </ol>
        <div class="info order">
          <p class="changing"><a title="Title" class="read" href="">Выбрать автомобиль</a></p>
          <div class="add">
            <p class="read">Стоимость:</p>
            <p class="read price"><strong>900</strong> руб/день</p>
          </div>
        </div>
      </div>
    </div>
    <div class="car">
      <div class="data">
        <h3 class="info read">ВАЗ 2112</h3>
        <ol class="info">
          <li class="text read">Залог:</li>
          <li class="mean read">5 тыс руб</li>
        </ol>
        <ol class="info">
          <li class="text read">Вариация КПП:</li>
          <li class="mean read">Механика</li>
        </ol>
        <ol class="info">
          <li class="text read">Кузов/привод:</li>
          <li class="mean read">Хетчбэк 5 дв/передний</li>
        </ol>
        <ol class="info">
          <li class="text read">Топливо/расход:</li>
          <li class="mean read">(АИ-95) 8л/100км</li>
        </ol>
        <ol class="info">
          <li class="text read">Доп. опции:</li>
          <li class="mean read">-</li>
        </ol>
        <div class="info order">
          <p class="changing"><a title="Title" class="read" href="">Выбрать автомобиль</a></p>
          <div class="add">
            <p class="read">Стоимость:</p>
            <p class="read price"><strong>800</strong> руб/день</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
