<div class="back">
  <ul class="features">
    <li class="advantages">
      <ul class="compact">
        <li class="digits">500 +</li>
        <li class="description">Успешно заключенных договоров</li>
      </ul>
    </li>
    <li class="advantages">
      <ul class="compact">
        <li class="digits">3 +</li>
        <li class="description">года успешной деятельности</li>
      </ul>
    </li>
    <li class="advantages">
      <ul class="compact">
        <li class="digits">10</li>
        <li class="description">Авто с повышенным комфортом</li>
      </ul>
    </li>
  </ul>
</div>
