<div class="back">
  <ul class="features">
    <li class="advantages">
      <ul class="compact">
        <li class="digits">500 +</li>
        <li class="description">Успішно укладених договорів</li>
      </ul>
    </li>
    <li class="advantages">
      <ul class="compact">
        <li class="digits">3 +</li>
        <li class="description">років успішної діяльності</li>
      </ul>
    </li>
    <li class="advantages">
      <ul class="compact">
        <li class="digits">10</li>
        <li class="description">Авто з підвищеним комфортом</li>
      </ul>
    </li>
  </ul>
</div>
