<div class="free">
  <h2 class="cons">Бесплатная консультация</h2>
  <form class="call-back" method="post" id="ajax_form" action="#">
    <h3 class="tf">Введите свои данные</h3>
    <p class="massage">мы перезвоним в течении <strong>5</strong><br> минут и проконсультируем вас</p>
    <input class="call-name" type="text" name="name" placeholder="Дмитрий">
    <input class="call-phone mask" type="tel" name="phonenumber" placeholder="+7 (906) 600-00-09"
           pattern="[7-9]{1}[0-9]{9}"
           title="Phone number with 7-9 and remaing 9 digit with 0-9">
    <input class="send-number" type="submit" value="Заказать звонок">
    <div class="agreed">
      <input class="agree" type="checkbox">
      <p class="agreement">Нажимая на кнопку вы соглашаетесь с политикой конфиденциальности.</p>
    </div>
    <div id="result_form"></div>
  </form>
  <p class="our">Наши клиенты отмечают факт, <strong>вежливого</strong> общения. Свяжитесь и проверьте сами.</p>
</div>
