<div class="free">
  <h2 class="cons">БЕЗКОШТОВНА КОНСУЛЬТАЦІЯ</h2>
  <form class="call-back" method="post" id="ajax_form" action="#">
    <h3 class="tf">Введіть свої данні</h3>
    <p class="massage">мы перетелефонуєм протягом <strong>5</strong><br> хвилин и проконсультуємо Вас</p>
    <input class="call-name" type="text" name="name" placeholder="Дмитро">
    <input class="call-phone mask" type="tel" name="phonenumber" placeholder="+3 (096) 000-00-00"
           pattern="[7-9]{1}[0-9]{9}"
           title="Phone number with 7-9 and remaing 9 digit with 0-9">
    <input class="send-number" type="submit" value="Замовити дзвінок">
    <div class="agreed">
      <input class="agree" type="checkbox">
      <p class="agreement">Натискаючи на кнопку ви погоджуєтеся з політикою конфіденційності.</p>
    </div>
    <div id="result_form"></div>
  </form>
  <p class="our">Наші клієнти відзначають факт, <strong> ввічливого</strong> спілкування. Зв'яжіться і переконайтесь самі.</p>
</div>
