<div class="conditions">
  <h2 class="t">Условия</h2>
  <h3 class="d">Выполнив их вы точно сможете<br> арендовать любой автомобиль</h3>
  <div class="condition">
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./img/work.png"></li>
        <li class="text"><strong>3</strong> года стажа владения автомобилем</li>
      </ul>
    </div>
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./img/debt.png"></li>
        <li class="text"><strong>Отсутсвие</strong><br> судебных задолженностей</li>
      </ul>
    </div>
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./img/personal-information.png"></li>
        <li class="text"><strong>Наличие</strong> паспорта и водительского удостоверения</li>
      </ul>
    </div>
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./img/security.png"></li>
        <li class="text"><strong>Залог</strong> от 5000 руб и выше в зависимости от автомобиля</li>
      </ul>
    </div>
  </div>
</div>
