<div class="conditions">
  <h2 class="t">Умови</h2>
  <h3 class="d">Виконавши їх ви точно зможете <br> орендувати будь-який автомобіль</h3>
  <div class="condition">
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./assets/img/work.png"></li>
        <li class="text"><strong>3</strong> роки стажу володіння автомобілем</li>
      </ul>
    </div>
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./assets/img/debt.png"></li>
        <li class="text"><strong>Відсутність</strong> <br>судових заборгованостей</li>
      </ul>
    </div>
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./assets/img/personal-information.png"></li>
        <li class="text"><strong> Наявність </strong>паспорта і посвідчення водія</li>
      </ul>
    </div>
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./assets/img/security.png"></li>
        <li class="text"><strong>Застава</strong> от 5000 грн і вище в залежності від автомобіля</li>
      </ul>
    </div>
  </div>
</div>
