<div class="emotions" id="counter">
  <h2 class="t">Відгуки</h2>
  <div class="slider show">
    <p class="port"></p>
    <h3 class="tt">Катерина Воронцова</h3>
    <p class="te">Брала авто Mazda 6 на три дні - и не прогавила. Помітноб що машина була в обслугованні и доглянута.
      Цена
      влаштовує. Оформили оренду швидко через інтернет, на все про все пішло хвилин 15</p>
    <div class="buttons">
      <a routerLink="#" title="Title" class="make choice">Аудіо-відгук</a>
      <a routerLink="#" title="Title" class="make choice">Відео-відгук</a>
    </div>
  </div>
  <div class="slider">
    <p class="port"></p>
    <h3 class="tt">Александр</h3>
    <p class="te">Хороші хлопці, товариські, ввічливі, завжди готові допомогти, підказати. Автомобіль виявився без
      проблем, в загальному всім задоволений. Бажаю удачі і хороших клієнтів. Рекомендую (ЯНАО).</p>
    <div class="buttons">
      <a routerLink="#" title="Title" class="make choice">Аудіо-відгук</a>
      <a routerLink="#" title="Title" class="make choice">Відео-відгук</a>
    </div>
  </div>
  <div class="slider">
    <p class="port"></p>
    <h3 class="tt">Станислав </h3>
    <p class="te">Умови прокату, оперативність, технічний стан автомобілів на рівні. Спасибі!</p>
    <div class="buttons">
      <a routerLink="#" title="Title" class="make choice">Аудіо-відгук</a>
      <a routerLink="#" title="Title" class="make choice">Відео-відгук</a>
    </div>
  </div>
  <div class="slider">
    <p class="port"></p>
    <h3 class="tt">Роман Ивашов</h3>
    <p class="te">Хороші автомобілі і господар, і ставлення до клієнтів. Раджу</p>
    <div class="buttons">
      <a routerLink="#" title="Title" class="make choice">Аудіо-відгук</a>
      <a routerLink="#" title="Title" class="make choice">Відео-відгук</a>
    </div>
  </div>
  <div class="slider">
    <p class="port"></p>
    <h3 class="tt">Алексей</h3>
    <p class="te">Машина в хорошому технічному стані, звозила на "дальняк" без ексцесів.</p>
    <div class="buttons">
      <a routerLink="#" title="Title" class="make choice">Аудіо-відгук</a>
      <a routerLink="#" title="Title" class="make choice">Відео-відгук</a>
    </div>
  </div>
  <p class="counter">
    <span class="emotion-number active" (click)="indicateChange('slider','notAactive','show')">1</span>
    <span class="emotion-number">2</span>
    <span class="emotion-number">3</span>
    <span class="emotion-number">4</span>
    <span class="emotion-number">5</span>
  </p>
  <a routerLink="#counter" (click)="back('.emotion-number', 'notAactive','.slider')" title="Title" class="back-go"></a>
  <a routerLink="#counter" (click)="forward('.emotion-number','notAactive', '.slider')" title="Title"
     class="forward-go"></a>
</div>
