<div class="emotions">
  <h2 class="t">Отзывы</h2>
  <div class="slider show">
    <p class="port"></p>
    <h3 class="tt">Екатерина Воронцова</h3>
    <p class="te">Брала автомобиль Mazda 6 на три дня - и не прогадала. Машина обслужина и ухожена. Цена
      устроила. Оформили аренду быстро через интернет, на все про все ушло минут 15</p>
    <div class="buttons">
      <a title="Title" class="make choice" href="#">Аудио-отзыв</a>
      <a title="Title" class="make choice" href="#">Видео-отзыв</a>
    </div>
  </div>
  <div class="slider">
    <p class="port"></p>
    <h3 class="tt">Александр</h3>
    <p class="te">Хорошие ребята, общительные, вежливые, всегда готовы помочь, подсказать. Автомобиль оказался
      без
      проблем, в общем всем доволен. Желаю удачи и хороших клиентов. Рекомендую (ЯНАО).</p>
    <div class="buttons">
      <a title="Title" class="make choice" href="">Аудио-отзыв</a>
      <a title="Title" class="make choice" href="">Видео-отзыв</a>
    </div>
  </div>
  <div class="slider">
    <p class="port"></p>
    <h3 class="tt">Станислав </h3>
    <p class="te">Условия проката, оперативность, техническое состояние автомобилей на уровне. Спасибо!</p>
    <div class="buttons">
      <a title="Title" class="make choice" href="">Аудио-отзыв</a>
      <a title="Title" class="make choice" href="">Видео-отзыв</a>
    </div>
  </div>
  <div class="slider">
    <p class="port"></p>
    <h3 class="tt">Роман Ивашов</h3>
    <p class="te">Хорошие автомобили и хозяин, и отношение к клиентам. Рекомендую.</p>
    <div class="buttons">
      <a title="Title" class="make choice" href="">Аудио-отзыв</a>
      <a title="Title" class="make choice" href="">Видео-отзыв</a>
    </div>
  </div>
  <div class="slider">
    <p class="port"></p>
    <h3 class="tt">Алексей</h3>
    <p class="te">Машина в хорошем техническом состоянии, свозила на “дальняк” без эксцессов.</p>
    <div class="buttons">
      <a title="Title" class="make choice" href="">Аудио-отзыв</a>
      <a title="Title" class="make choice" href="">Видео-отзыв</a>
    </div>
  </div>
  <p class="counter">
    <span class="emotion-number active">1</span>
    <span class="emotion-number">2</span>
    <span class="emotion-number">3</span>
    <span class="emotion-number">4</span>
    <span class="emotion-number">5</span>
  </p>
  <a title="Title" class="back-go" href="#"></a>
  <a title="Title" class="forward-go" href="#"></a>
</div>
