<footer>
  <div class="top-info">
    <a title="Title" class="logo" href="#"><img alt="alternate" src="./assets/img/logo.png"></a>
    <h1 class="common title">Аренда авто</h1>
    <p class="slogan">Автомобиль который<br> вас не подведет</p>
    <ul class="nets">
      <li class="name">Наши контакты:</li>
      <li class="icon"><a title="Title" href="#"><img alt="alternate" class="connect"
                                                      src="./assets/img/instagram-sketched.png"></a></li>
      <li class="icon"><a title="Title" href="#"><img alt="alternate" class="connect"
                                                      src="./assets/img/whatsapp.png"></a></li>
      <li class="icon"><a title="Title" href="#"><img alt="alternate" class="connect"
                                                      src="./assets/img/iconfinder_vkontakte_386743.png"></a></li>
    </ul>
    <p class="confident"><a title="Title" href="#">Политика конфиденциальности</a></p>
    <ul class="top phones">
      <li class="phone"><a title="Title" class="call" href="tel:+79066000009">+7 (906) 600-00-09</a></li>
      <li class="phone"><a title="Title" class="call" href="tel:+79290006665">+7 (929) 000-66-65</a></li>
      <li class="work time">Без выходных с 8:00 до 20:00</li>
    </ul>
  </div>
</footer>
