<!--<div class="advantage">-->
  <h2 class="t">Преимущества</h2>
  <div class="condition">
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./assets/img/gear.svg"></li>
        <li class="text">Все автомобили с <strong>ТО</strong> и гарантией, <strong>ОСАГО</strong></li>
      </ul>
    </div>
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./assets/img/car-insurance.svg"></li>
        <li class="text">Автомобили с <br>повышенным<br> <strong>комфортом</strong></li>
      </ul>
    </div>
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./assets/img/license.svg"></li>
        <li class="text"><strong>Быстрое</strong> оформление договора по паспорту и водительскому
          удостоверению
        </li>
      </ul>
    </div>
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./assets/img/sale.svg"></li>
        <li class="text"><strong>Скидки</strong> от 10% при аренде автомобиля на срок более недели</li>
      </ul>
    </div>
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./assets/img/tablet.svg"></li>
        <li class="text">Оформление<br> аренды авто<br> <strong>онлайн</strong></li>
      </ul>
    </div>
    <div class="cond details">
      <ul class="view">
        <li class="images"><img alt="alternate" src="./assets/img/online-payment.svg"></li>
        <li class="text">Оплата наличным, безналичным<br> платежом,<br> перевод на карту</li>
      </ul>
    </div>
  </div>
<!--</div>-->
