<h2 class="t">ПЕРЕВАГИ</h2>
<div class="condition">
  <div class="cond details">
    <ul class="view">
      <li class="images"><img alt="alternate" src="./assets/img/gear.svg"></li>
      <li class="text">Всі автомобілі з <strong>ТО</strong>і гарантією, <strong>ОСАГО</strong></li>
    </ul>
  </div>
  <div class="cond details">
    <ul class="view">
      <li class="images"><img alt="alternate" src="./assets/img/car-insurance.svg"></li>
      <li class="text">Автомобілі с <br>підвищеним<br> <strong>комфортом</strong></li>
    </ul>
  </div>
  <div class="cond details">
    <ul class="view">
      <li class="images"><img alt="alternate" src="./assets/img/license.svg"></li>
      <li class="text"><strong>Швидке</strong> оформлення договору за паспортом та посвідченю водія</li>
    </ul>
  </div>
  <div class="cond details">
    <ul class="view">
      <li class="images"><img alt="alternate" src="./assets/img/sale.svg"></li>
      <li class="text"><strong>Знижки</strong> від 10% при оренді автомобилю на строк більше тижня</li>
    </ul>
  </div>
  <div class="cond details">
    <ul class="view">
      <li class="images"><img alt="alternate" src="./assets/img/tablet.svg"></li>
      <li class="text">Оформлення<br> оренди авто<br> <strong>онлайн</strong></li>
    </ul>
  </div>
  <div class="cond details">
    <ul class="view">
      <li class="images"><img alt="alternate" src="./assets/img/online-payment.svg"></li>
      <li class="text">Сплата готівкою, безготівковим<br> платіжом,<br> вивід на карту</li>
    </ul>
  </div>
</div>
