<div class="rent-auto">
  <h3 class="t">Как арендовать авто</h3>
  <h4>Заявка онлайн или звонок</h4>
  <p><strong>Заполняете</strong> форму, выбрав необходимую услугу и ждете звонка оператора или звоните сами
    операту. <strong>Не забывайте,</strong>
    что звонок оператора можно заказать для консультации</p>
  <h4>Звонок оператора для подтверждения</h4>
  <p>После подачи заявления вам <strong>перезванивает</strong> оператор для подтверждения заявки и уточнения
    условий аренды.</p>
  <h4>Заполнение документов и оплата</h4>
  <p><strong>Заполняете</strong> документы, подтверждающие сделку и оплачиваете необходимую сумму.</p>
  <h4>Передача автомобиля арендатору</h4>
  <p>Вам передают ключи от автомобиля с самим автомобилем и <strong>начинается срок владения</strong>.</p>
</div>
