<h2 class="sub title">Аренда автомобилей в<br> Белгороде</h2>
<h3 class="per day">От <strong>800</strong> руб/день и <strong>скидки</strong> от недели аренды</h3>
<p>
  <a title="Title" class="make choice" href="#">Выбрать автомобиль</a>
<p class="image"></p>
<img alt="alternate" class="arrow" src="./asset/img/arrow.svg">
<ul class="nets">
  <li class="name">Наши контакты:</li>
  <li><a title="Title" href="#"><img alt="alternate" class="connect" src="./asset/img/instagram-sketched.png"></a>
  </li>
  <li><a title="Title" href="#"><img alt="alternate" class="connect" src="./asset/img/whatsapp.png"></a></li>
  <li><a title="Title" href="#"><img alt="alternate" class="connect"
                                     src="./asset/img/iconfinder_vkontakte_386743.png"></a></li>
</ul>
