<div class="rent">
  <h2 class="sub title">ОРЕНДА АВТОМОБІЛІВ В <br> БЄЛГОРОД</h2>
  <h3 class="per day">Від <strong>800</strong> грн/день та <strong>знижки</strong> от тижня оренди</h3>
  <p>
    <a href="#" title="Title" class="make choice">Виберіть автомобіль</a>
  </p>
  <p class="image"></p>
  <img alt="alternate" class="arrow" src="assets/img/arrow-down.svg">
  <ul class="nets">
    <li class="name">Наші контакти:</li>
    <li><a href="#" title="Title"><img alt="alternate" class="connect"
                                             src="assets/img/instagram-sketched.png"></a>
    </li>
    <li><a href="#" title="Title"><img alt="alternate" class="connect" src="assets/img/whatsapp.png"></a></li>
    <li><a href="#" title="Title"><img alt="alternate" class="connect"
                                             src="assets/img/iconfinder_vkontakte_386743.png"></a></li>
  </ul>
</div>
